.book__container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  background: #fff;
  margin-bottom: 2.3rem;
}

.book__container-card_details {
  text-align: left;
}

.book__container-card_details button {
  background: transparent;
  border: none;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: 'RobotoSlab', serif;
  margin-top: 1.1313rem;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  color: #4386bf;
  cursor: pointer;
}

.book__container-card_current-chapter button {
  background-color: #0290ff;
  color: #fff;
  margin-top: 0.75rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  font-family: 'RobotoSlab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.book__section-form_inputs button {
  flex: 1;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  font-family: 'RobotoSlab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background: #0290ff;
  border: none;
}

.book__container-card_details button:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.book__container-card_details .first {
  padding-left: 0;
}

.book__container-card_details button:hover {
  color: #0083f5;
}

.book__container-card_details-title {
  font-family: 'RobotoSlab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book__container-card_details-category {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.book__container-card_details-author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.book__container-card_progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book__container-card_progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.438rem;
  border-right: 1px solid #e8e8e8;
}

.book__container-card_progress svg {
  width: 4.25rem;
  height: 4.25rem;
  border-width: 5px;
  color: #0290ff;
  border-image-slice: 1;
}

.book__container-card_progress p {
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #121212;
}

.book__container-card_progress span {
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  letter-spacing: normal;
  color: #121212;
}

.book__container-card_current-chapter h2 {
  opacity: 0.5;
  font-family: 'RobotoSlab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
  text-transform: uppercase;
}

.book__container-card_current-chapter p {
  margin-top: 0.438rem;
  font-family: 'RobotoSlab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book__section-form hr {
  margin: 2.5rem 0;
  border: solid 1px #e8e8e8;
}

.book__section-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.book__section-form h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 1.188rem;
}

.book__section-form_inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.book__section-form_inputs input {
  flex: 3;
  margin-right: 2.125rem;
  height: 2.813rem;
  padding: 0.813rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #c4c4c4;
  outline: none;
  border: solid 1px #e8e8e8;
}

.book__section-form_inputs select {
  flex: 2;
  margin-right: 2.125rem;
  height: 2.813rem;
  padding: 0.813rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #c4c4c4;
  border: solid 1px #e8e8e8;
}
